@import "base"
//styles for inner pages
.catalog
	padding-left: 265px 
//portfolio	
.portfolio__list
	padding-left: 265px
	font-size: 0
	overflow: hidden
.portfolio__item
	position: relative
	display: inline-block
	width: 400px
	vertical-align: top
	text-align: center	
.portfolio__block
	position: absolute
	top: 1px
	left: 1px
	right: 1px
	bottom: 1px
	+bsize
	cursor: pointer
	z-index: 10 
	&:hover		
		strong
			border: 2px solid #fff
		span
			+trans(all .2s linear)
			background: rgb(255,255,255) 
			background: rgba(255,255,255,.8) 			
			color: #000 
		i
			+trans(opacity .2s linear)
			+opacity(0)
	strong
		position: relative
		display: inline-block
		padding: 1px 	
		font-weight: normal	
		z-index: 10 
	span
		display: block
		padding: 10px 14px
		+fh
		font-size: 24px
		line-height: 1
		color: #FFF 
	i
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgb(52,43,42) 
		background: rgba(52,43,42,.73)
		opacity: 1
		z-index: 5
.portfolio__desc
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	+trans(all .2s linear)
	+opacity(0)
	&.is-active
		position: fixed
		width: 100%
		background: $body
		+opacity(1)
		z-index: 100
//project
.project
	padding: 40px
	background: $body
	z-index: 10 
	line-height: 1.2
	font-size: 14px
	text-align: left	
.project__row
	margin-bottom: 80px
	overflow: hidden
.project__pic, .project__detail
	float: left
	width: 32%	
	margin-right: 3%
.project__pic
	height: 300px
	+bsize
.project__desc
	overflow: hidden
.project__title
	margin-bottom: 40px
	+fh	
	font-size: 24px
	color: #FFF 
.project__text
	-moz-column-count: 2
	-webkit-column-count: 2
	column-count: 2
	-moz-column-gap: 30px
	-webkit-column-gap: 30px
	column-gap: 30px
	p
		line-height: 1.5
.project__detail 	
	li
		margin-bottom: 15px
		font-style: italic
	strong
		margin-right: 5px
.project__gallery
	overflow: hidden
	li
		position: relative
		float: left
		width: 20%
		margin: 0 10px 10px 0
		background: #342b2a 
		cursor: pointer
		&:hover
			.project__zoom
				+opacity(1)
	img
		display: block
		width: 100%
.project__zoom
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgb(52,43,42) 
	background: rgba(52,43,42,.73)	
	+opacity(0)
	i
		position: absolute
		top: 50%
		left: 50%
		margin: -15px 0 0 -15px
		+s(zoom)
//bookblock
.bb-bookblock
	width: 400px
	height: 300px
	position: relative
	background: #fff
	z-index: 100
.bb-page
	width: 50%
	height: 100%
	left: 50%
	position: absolute
	-webkit-transform-style: preserve-3d
	-moz-transform-style: preserve-3d
	-o-transform-style: preserve-3d
	-ms-transform-style: preserve-3d
	transform-style: preserve-3d
	-webkit-transform-origin: left center
	-moz-transform-origin: left center
	-o-transform-origin: left center
	-ms-transform-origin: left center
	transform-origin: left center
.bb-page > div,
.bb-outer,
.bb-content
	position: absolute
	height: 100%
	top: 0
	left: 0
.bb-content
	background: #fff
.bb-inner
	position: relative
	width: 100%
	height: 100%
.bb-overlay, .bb-outer
	-webkit-backface-visibility: hidden
	-moz-backface-visibility: hidden
	-o-backface-visibility: hidden
	-ms-backface-visibility: hidden
	backface-visibility: hidden
.bb-page > div
	width: 100%
	-webkit-transform-style: preserve-3d
	-moz-transform-style: preserve-3d
	-o-transform-style: preserve-3d
	-ms-transform-style: preserve-3d
	transform-style: preserve-3d
	-webkit-backface-visibility: hidden
	-moz-backface-visibility: hidden
	-o-backface-visibility: hidden
	-ms-backface-visibility: hidden
	backface-visibility: hidden
.bb-back
	-webkit-transform: rotateY(-180deg)
	-moz-transform: rotateY(-180deg)
	-o-transform: rotateY(-180deg)
	-ms-transform: rotateY(-180deg)
	transform: rotateY(-180deg)
.bb-outer
	width: 100%
	overflow: hidden
	z-index: 999
.bb-overlay, 
.bb-flipoverlay
	background-color: rgba(0, 0, 0, 0.7)
	position: absolute
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	opacity: 0
	z-index: 1000
.bb-flipoverlay
	background-color: rgba(0, 0, 0, 0.2)
.bb-bookblock > div.bb-page:first-child,
.bb-bookblock > div.bb-page:first-child .bb-back
	-webkit-transform: rotateY(180deg)
	-moz-transform: rotateY(180deg)
	-o-transform: rotateY(180deg)
	-ms-transform: rotateY(180deg)
	transform: rotateY(180deg)
.bb-item
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	display: none
	background: #fff
.gallery-wrap,
.bb-custom-wrapper,
.bb-bookblock
	width: 100%
	height: 100%
.gallery-wrap
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 0
	+opacity(0)
	+trans(all .2s linear)
	&.is-active
		+opacity(1)
		z-index: 1000 
.bb-pic
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow: hidden
	+bsize
.bb-nav
	position: absolute
	top: 0
	left: 0
	right: 0
	background: rgb(255,255,255) 
	background: rgba(255,255,255,.8) 
	overflow: hidden
	z-index: 1000
.bb-close
	position: relative
	height: 55px
	padding: 0 25px
	background: none
	i
		display: inline-block
		+s(close)
.bb-prev, .bb-next
	position: relative
	float: left
	width: 70px
	height: 55px  
	margin-right: 15px	
	background: none
	overflow: visible 
	i
		position: absolute
		top: 16px
		left: 25px
	&.disabled
		opacity: .4
		cursor: default 
.bb-prev
	i
		+s(prev)
.bb-next
	i
		+s(next)
.bb-current
	float: left
	margin-right: 15px
	line-height: 55px
	+fh
	font-size: 24px
	color: #000
.bb-close	
	position: relative
	float: right
	height: 55px
	padding: 0 25px
	background: none
	i
		display: inline-block
		+s(close)
//back
.back
	position: absolute
	top: 30px
	right: 20px
	height: 36px
	padding-left: 45px 	
	background: none
	font-size: 13px
	font-style: italic
	text-decoration: underline
	color: #fff 
	overflow: visible
	span
		position: absolute
		top: 0
		left: 0
		padding: 1px
		border: 3px solid #fff
		border-radius: 50%
	i
		display: block
		+s(back)
//catalog
.catalog__list
	padding: 10px
	font-size: 0
	white-space: nowrap
.catalog__list_less
	.catalog__pic
		margin-bottom: 7px
	.catalog__label
		margin-bottom: 15px
	.catalog__title
		margin-bottom: 5px
	.catalog__desc
		margin-bottom: 10px
	.catalog__price 	
		margin-bottom: 10px
.catalog__item
	display: inline-block	
	padding: 2px
	border: 2px solid #2e231e
	border-width: 2px 2px 2px 0
	white-space: normal
	&:first-child
		border-width: 2px
.catalog__item-in	
	width: 250px
	padding: 15px 30px
	background: #2e231e 
	vertical-align: top
.catalog__pic
	margin-bottom: 27px 
	img
		display: block
.catalog__label
	margin-bottom: 45px
	overflow: hidden
	span
		width: 124px
		height: 40px
		line-height: 40px
		background: $or
		text-align: center
		+fh
		font-size: 24px
		color: #FFF  
.catalog__label-disc
	float: right
.catalog__label-new
	float: left
.catalog__title
	margin-bottom: 25px
	+fh	
	font-size: 24px
	color: #FFF 
.catalog__desc
	margin-bottom: 40px
	font-size: 14px 	
	line-height: 1.5
.catalog__price 	
	margin-bottom: 50px
	font-size: 18px
	text-transform: uppercase
.catalog__more
	text-align: center
	a
		display: inline-block
		height: 35px
		padding: 0 25px
		border: 2px solid #fff
		line-height: 35px
		font-size: 14px
		text-transform: uppercase
//partners
.partners
	padding: 4px 4px 4px 270px
.partners__list
	font-size: 0
	text-align: left
.partners__item
	position: relative
	display: inline-block
	vertical-align: top		 
	a
		position: absolute
		top: 5px
		left: 5px
		right: 5px
		bottom: 5px
		+bsize
		&:hover
			opacity: .8 
//about
.about
	position: relative
	+bsize
.acord
	position: absolute
	top: 50%
	left: 50%
	width: 830px
	margin: -245px 0 0 -280px
.acord__item
	border: 2px solid #fff
	padding: 2px 
	cursor: pointer
	&.is-active		
		cursor: default
		.acord__title			
			color: #000 
			i
				display: none
.acord__item-in
	background: rgb(255,255,255) 
	background: rgba(255,255,255,.8) 
.acord__title
	position: relative
	padding: 23px 30px
	+fh
	font-size: 24px
	color: #737373	 
	i
		position: absolute
		top: 24px
		right: 25px
		+s(plus)
.acord__desc
	height: 300px
	padding: 5px 30px 20px
	p
		padding-bottom: 25px 
		color: #000
		line-height: 1.5
.acord__desc_cols
	-moz-column-count: 2
	-webkit-column-count: 2
	column-count: 2
	-moz-column-gap: 30px
	-webkit-column-gap: 30px
	column-gap: 30px
